<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Harry Potter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Hogwarts</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" ngbDropdownToggle>
          Asignaturas
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Obligatorias</a>
          <a class="dropdown-item" href="#">Optativas</a>
          <a class="dropdown-item" href="#">Extraescolares</a>
        </div>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" ngbDropdownToggle>
          Casas
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Gryffindor</a>
          <a class="dropdown-item" href="#">Hufflepuff</a>
          <a class="dropdown-item" href="#">Ravenclaw</a>
          <a class="dropdown-item" href="#">Slytherin</a>
        </div>
      </li>
    </ul>
  </div>
</nav>